h1{
    text-align: center;
    font-size: 60px; 
}
li {
     font-size: 40px;
}
h2 {
     text-align: center;
    font-size: 40px; 
}
h3 {
    text-align: center;
    font-size: 40px;
    margin-top:200px;
}
